<div class="calculator">
  <header class="header">
    <span class="header__logo">
      CASIO
    </span>

    <div class="header__buttery sun-buttery">
      <section class="sun-buttery__container">
        <div class="sun-buttery__item"></div>
        <div class="sun-buttery__item"></div>
        <div class="sun-buttery__item"></div>
        <div class="sun-buttery__item"></div>
        <div class="sun-buttery__item"></div>
      </section>

      <div class="sun-buttery__sub-label">
        TWO WAY POWER
      </div>
    </div>
  </header>

  <main>
    <div class="screen">
      {{display$ | async | calcNumber}}
    </div>

    <keyboard></keyboard>
  </main>
</div>

