.calculator {
  width: 320px;
  margin: 25px auto auto;
  background-color: #d2d4d8;
  border-radius: 5px 5px 30px 30px;
  padding: 5px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 0 15px #b7b6bb;
}

.header {
  display: flex;
  justify-content: space-between;

  &__logo {
    align-self: flex-start;
    margin: 5px 0 0 20px;
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    font-size: 18px;
  }

  &__buttery {
    align-self: flex-start;
    margin-right: 15px;
  }
}

.sun-buttery {
  &__container {
    border-radius: 5px;
    border: 5px solid #57585e;
    width: 130px;
    box-sizing: content-box;
    display: flex;
  }

  &__item {
    width: 20%;
    height: 30px;
    background-color: #261b18;
    border-right: 1px solid #4c1613;

    &:last-child {
      border: none;
    }
  }

  &__sub-label {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
  }
}

.screen {
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid #33393b;
  border-bottom-color: transparent;
  box-shadow: 0 0 0 10px #5b6569;
  height: 90px;
  background-color: #d3dfdf;
  font-family: 'Digital', sans-serif;
  line-height: 90px;
  font-size: 60px;
  vertical-align: middle;
  padding: 0 10px;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}
