<div class="calculator">
  <header class="header">
    <span class="header__logo">
      CASIO
    </span>

    <div class="header__buttery sun-buttery">
      <section class="sun-buttery__container">
        <div class="sun-buttery__item"></div>
        <div class="sun-buttery__item"></div>
        <div class="sun-buttery__item"></div>
        <div class="sun-buttery__item"></div>
        <div class="sun-buttery__item"></div>
      </section>

      <div class="sun-buttery__sub-label">
        TWO WAY POWER
      </div>
    </div>
  </header>

  <main>
    <div class="screen">
      {{display$ | async}}
    </div>

    <div class="keyboard">
      <section class="keyboard__first-section">
        <div class="keyboard__label">SL-300SV</div>

        <div class="keyboard__container" *ngFor="let key of firstSectionKeys">
          <button class="button"
                  (click)="keyDown$.next({type: key.type, value: key.value})"
                  [innerHtml]="key.label">
          </button>
        </div>
      </section>

      <section class="keyboard__main-section">
        <div class="keyboard__container" *ngFor="let key of mainSectionKeys">
          <button class="button"
                  (click)="keyDown$.next({type: key.type, value: key.value})"
                  [innerHtml]="key.label">
          </button>
        </div>
      </section>

      <section class="keyboard__last-section">
        <div class="keyboard__sub-section">
          <div class="keyboard__container" *ngFor="let key of lastSectionKeys">
            <button class="button"
                    (click)="keyDown$.next({type: key.type, value: key.value})"
                    [innerHtml]="key.label"
                    [ngClass]="{'button--special': key.isSpecial}"
                    [id]="key.id">
            </button>
          </div>
        </div>

        <div class="keyboard__sub-section">
          <div class="keyboard__container">
            <button class="button button--tall"
                    (click)="keyDown$.next({type: tallKey.type, value: tallKey.value})"
                    [innerHtml]="tallKey.label">
            </button>
          </div>
        </div>
      </section>

      <div class="keyboard__labels">
        <label class="keyboard__on-label" for="clear-all">
          ON
        </label>
      </div>
    </div>
  </main>
</div>

